<form ref='uploadForm' 
      id='uploadForm' 
      action='upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form> 
    <br>
    <br>
    <form method="POST" action="changeDate">
<input type="text" name="quantity"/>
<input type="submit" value="changeDate"/>
</form>
</form> 
<br>
<br> 
<form method="POST" action="list">
<input type="text" name="isim"/>
<input type="submit" value="list">
</form>  